* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Style the container for the main content */
.container {
    width: 100%;
    height: 100vh;
    background-image: url(assets\pictures\norm.jpg); /* Add your background image URL here */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Style the flex container */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Center the navigation bar horizontally */
    align-items: flex-start; /* Align the navigation bar to the top */
}

/* Style the navigation bar */
nav {
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    opacity: 0.6;
    flex: 1; /* Allow the navigation bar to grow and fill the available space */
}

/* Style the logo */
nav .logo {
    color: rgb(255, 4, 4);
    font-size: 34px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 70px; /* Adjusted the padding-left for the logo */
}

/* Style the main navigation menu */
nav ul {
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: 0.5s;
}

/* Style the dropdown menus */
nav ul ul {
    position: absolute;
    top: 70px; /* Adjusted the top position for the submenu */
    border-top: 3px solid transparent; /* Set the border to transparent */
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear;
}

nav ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid transparent; /* Set the border to transparent */
    border-top: none;
    height: 40px; /* Adjusted the height of submenu items */
    line-height: 40px; /* Adjusted the line-height for submenu items */
}

nav ul ul li a {
    line-height: 40px; /* Match the line-height with the height */
}

nav ul ul ul li {
    position: relative;
    top: -40px; /* Adjusted the top position */
    left: 150px;
}
